body {
}

#cameraPreview{
    position:relative;
    background-color:red;
    width:100%;
    height:80%;
}

#sideBar{
    position:relative;
    background-color:green;
    width:100%;
    height:20%;
}
.myicon{
    position:relative;
    height:100%;
    width:9.091%;
    float:left;
    text-align:center;
    line-height:50%;

}
.myicon > .fa ::before {
    content:'';
    display: inline-block;
    vertical-align: middle ;
    height: 100%;
}
.iconCenter{
    vertical-align:middle;
    background-color:aliceblue;
}

.fillIn{
    background-color:yellow;
}
.leftBlank{
    background-color:white;
}
